.vscode/**
.vscode-test/**
.github/**
.husky/**
examples/**
docs/**
vsc-extension-quickstart.md
.npmrc
.gitignore
.editorconfig
.prettierrc
.prettierignore
.markdownlint.yml
.markdownlintignore
.lintstagedrc
.gitattributes
.commitlintrc.json
